<div class="app__header" id="home">
  <div class="app__header__content">
    <h1>People who love to eat are always the best people.</h1>
    <p>
      Indulge in a culinary journey of flavors and discover delightful recipes
      on our Food Haven - Where Taste Meets Imagination!
    </p>
    <div class="app__header__content-explare">
      <button class="active" routerLink="foodlist">Explore our Menu</button>
      <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>
  <img src="assets/Ziti-plate-above 1.png" class="img-1" />
  <img src="assets/carbonara 1.png" class="img-2" />
  <img src="assets/Tortellini_Alfredo-plate-above 1.png" class="img-3" />
  <img src="assets/tomatoes 1.png" class="img-4" />
  <img src="assets/omleat.png" class="img-5" />
</div>
