<div class="app__feature" id="feature">
  <div class="app__feature-header">
    <h2>Food of the Month</h2>
    <p>
      Embark on a flavorful journey with our 'Food of the Month,' featuring
      seasonal delicacies that celebrate the essence of each season.
    </p>
  </div>

  <div class="cards-section">
    <app-large-card
      [image]="'assets/Dunkin Munchkins.png'"
      [title]="'Dunkin Munchkins'"
      [price]="'8.00'"
      [description]="
        'Delight in glazed goodness with Dunkin Munchkins—irresistible doughnut holes for moments of sweet bliss.'
      "
      [id]="9"
    ></app-large-card>
    <app-large-card
      [image]="'assets/Two-Piece Fish Meal.png'"
      [title]="'Two-Piece Fish Meal'"
      [price]="'10.00'"
      [description]="
        'Savor the sea bounty with our Two-Piece Fish Meal. Dive into crispy, golden perfection paired.'
      "
      [id]="10"
    ></app-large-card>
    <app-large-card
      [image]="'assets/Little Caesars Crazy Bread.png'"
      [title]="'Little Caesars Crazy Bread'"
      [price]="'7.50'"
      [description]="
        'Get crazy for flavor with Little Caesars Crazy Bread. Satisfy your cravings with freshly baked, buttery'
      "
      [id]="11"
    ></app-large-card>
  </div>
  <div class="app__feature-footer">
    <button>Explore Our Menu</button>
  </div>
</div>
