<div class="app_learnmore">
  <div class="app_learnmore-left">
    <img src="assets/pizza_PNG44090 1.png" alt="Pizza Image" />
  </div>
  <div class="app_learnmore-right">
    <h2>
      Part of the secret of success is to eat what you like and let the food
      fight it out inside.
    </h2>
    <p>
      "FoodGram: An immersive gastronomic journey awaits you, where delectable
      flavors meet captivating visuals. Discover a symphony of tastes, artfully
      presented on each plate, while capturing Instagram-worthy moments of
      culinary bliss. Experience the ultimate dining adventure that delights
      both foodies and food photographers alike.....
    </p>
    <button>Learn More</button>
    <img
      src="assets/home_pizza_slider_2 1.png"
      class="app_learnmore-right_img"
    />
    <div class="arrows">
      <span class="fa fa-arrow-circle-o-left icon" style="color: gray"></span>
      <span class="fa fa-arrow-circle-o-right checked icon"></span>
    </div>
  </div>
</div>
