<div class="app__footer" id="aboutUs">
  <div class="app__footer__section">
    <div class="app__footer__section-1">
      <h3 class="footer-title">Foodgram</h3>
      <p class="footer-text">
        FoodGram: Savor the essence of delightful flavors and capture moments of
        culinary joy at our restaurant!
      </p>
      <div class="sec-1_icons">
        <span class="fa fa-facebook"></span>
        <span class="fa fa-twitter"></span>
        <span class="fa fa-instagram"></span>
      </div>
    </div>
    <div class="app__footer__section-2">
      <h3 class="footer-title">Quick links</h3>
      <div class="footer-list">
        <p class="footer-text">Home</p>
        <p class="footer-text">Packages</p>
        <p class="footer-text">Review</p>
        <p class="footer-text">About Us</p>
        <p class="footer-text">Contact Us</p>
      </div>
    </div>
    <div class="app__footer__section-3">
      <h3 class="footer-title">Contact Us</h3>
      <div class="footer-list">
        <table>
          <tr>
            <td class="icon-td">
              <!-- <span class="fa fa-phone"></span> -->
              <mat-icon>phone</mat-icon>
            </td>
            <td>
              <span class="footer-text">(+91) 70089 34211</span>
            </td>
          </tr>
          <tr>
            <td class="icon-td">
              <!-- <span class="fa fa-envelope"></span> -->
              <mat-icon>mail_outline</mat-icon>
            </td>
            <td>
              <span class="footer-text">ankit404sahu&#64;gmail.com</span>
            </td>
          </tr>
          <tr>
            <td class="icon-td">
              <!-- <span class="fa fa-map-marker"></span> -->
              <mat-icon>location_on</mat-icon>
            </td>
            <td>
              <span class="footer-text">Balangir, Odisha, India</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <p>© Copyright 2023. All rights reserved.</p>
</div>
